<html>
    <head>
        <title>Chat-app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
       
    </head>
    <body class="">
    <div class="cus_container">
        <div>
            <nav class="navbar navbar-expand-md custom-navbar navbar-dark cus2_nav">                
                <img class="navbar-brand img_logo"  src="/images/chat_logo.jpg">
                <span class="logo_text">ChatApp</span>                
                <div class="navbar-collapse " id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto ">                        
                        <li class="nav-item">
                            <button type="submit" class="button_prmy">Logout</button>
                        </li>
                    </ul>
                </div>  
            </nav>
        </div>