<%- include('partials/header'); -%>
<div class="page_home_wrap">
    <div class="row">
        <div class="col-md-8">            
            <div class="hm_img">
                <img class ="" src="/images/image-dm.png"  alt="Profile default" />
            </div>
            
        </div>
        <!-- Register wrap-->
        <div class="col-md-4 regsiter_wrap">
            <div class="mt-3 mb-3 pr-3">                
                <div class="reg_form_cont">  
                    <h4 class="center inverse-text">Sign Up Now!</h4>                  
                    <div class="card-body">
                        <form class="form-horizontal" method="post" action="/register">
                            <!-- <div class="text-center prof_default">
                                <img class ="reg_profile_pic" src="/images/profile_default.png" width="200" height="200" alt="Profile default" />
                                <div>
                                    <label for="upload-photo">
                                        <img class="img_cam" src="/images/cam_icon.jpg" width="40" height="35" alt="Profile default" />
                                    </label>
                                    <input type="file" name="photo" id="upload-photo" onchange="AddProfile(this)" />
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">                                            
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">                                            
                                        <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="cols-sm-2 control-label">Username</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                    </div>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label for="gender" class="cols-sm-2 control-label">Gender</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <select class="browser-default custom-select" name="gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button_prmy">Register</button>
                            </div>                               
                        </form>
                    </div>

                </div>               
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>
